<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\Users\mhold\OneDrive\Desktop\Tournament Tracker Textfiles"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=MattsLabtop;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>